<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fangjun Huang's personal page">
    <meta name="author" content="Fangjun Huang">
    <title>Fangjun Huang's personal page</title>
    <!--erase the inner format-->
    </style>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
</head>

<body>
    <!--Header-->
    <header>
        <!--Header Top image-->
        <div class="banner"></div>
    </header>
    <!--Navbar-->
    <nav>
        <!-- string of Navbar course hw 1 and 3 buttons-->
        <p>CSE 477 - Homework 1</p>
        <!-- hidde bar -->
        <br>
        <label for="menu_bar" class="menu_btn"></label>
        <input type="checkbox" id="menu_bar">
        <!--Navbar strings and buttons-->
        <div class="link_container">
            <ul>
                <li class="link"><a href="home.html">Home</a></li>
                <li class="link"><a href="projects.html">Projects</a></li>
                <li class="link"><a href="../static/main/document/resume.pdf">Resume</a></li>
                <!--linkedin string under 650 mode-->
                <li class="link"><a class="linkedin_str" href="https://www.linkedin.com/in/fangjun-huang-a03764265/">LinkedIn</a></li>
                <!--linkedin button-->
                <li class="link"><a class="linkedin_btn" href="https://www.linkedin.com/in/fangjun-huang-a03764265/"></a></li>
            </ul>
        </div>

        <div class="line">

        </div>
    </nav>

    <!--Main content-->
    <main>
        <!--consist of left part image Right part self intro, and bottom funfact-->
        <div class="continer">
            <div class="grid_struc">
                <!--left side    Author image -->
                <div>
                    <img src="../static/main/images/author_image.jpg" class="left_image" loading = "lazy" alt="fangjun huang">
                </div>
                <!--right side   slef intro-->
                <div class="content_right">
                    <!--Author name-->
                    <div class="author_name">
                        <h1>Fangjun Huang</h1>
                    </div>
                    <!--Brief description-->
                    <div class="brief_intro">
                        <p>My name is Fangjun Huang. I am a student at the University of Michigan University. I am
                            majoring
                            in Computer Science and Engineering. I am currently in my senior year. I am interested in
                            web
                            development and data science.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Fun fact-->
        <div class="fun_fact">
            <p>A fun fact about me:</p>
            <p><strong>I like to go to karaoke, but I don't like to sing </strong> </p>
        </div>
    </main>

    <!--Footer-->
    <div class="footer_class">
        <footer>
            <p class="cpright">©2023 Fangjun Huang</p>
        </footer>
    </div>
</body>


</html>