<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piano</title>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/piano/css/piano.css">
    <script src="../static/piano/js/piano.js"defer></script>
</head>

<body>
    <header>
        <!--Header Top image-->
        <div class="banner"></div>
    </header>

    <!--Navbar-->
    <nav>
        <!-- string of Navbar course hw 1 and 3 buttons-->
        <p>CSE 477 - Homework 1</p>
        <!-- hidde bar -->
        <br>
        <label for="menu_bar" class="menu_btn"></label>
        <input type="checkbox" id="menu_bar">
        <!--Navbar strings and buttons-->
        <div class="link_container">
            <ul>
                <li class="link"><a href="home.html">Home</a></li>
                <li class="link"><a href="projects.html">Projects</a></li>
                <li class="link"><a href="../static/main/document/resume.pdf">Resume</a></li>
                <!--linkedin string under 650 mode-->
                <li class="link"><a class="linkedin_str" href="https://www.linkedin.com/in/fangjun-huang-a03764265/">LinkedIn</a></li>
                <!--linkedin button-->
                <li class="link"><a class="linkedin_btn" href="https://www.linkedin.com/in/fangjun-huang-a03764265/"></a></li>
            </ul>
        </div>

        <div class="line">

        </div>
    </nav>

    
    <!--Main content-->
    <main>
        <div class="container_piano">
            
                <div class="title">The Great Old One</div>
                <div class="container_keys">
                    <div class="white_keys" id="65"><p class="key_style">A</p></div>
                    <div class="black_keys key_w" id="87"><p class="key_style">W</p></div>
                    <div class="white_keys" id="83"><p class="key_style">S</p></div>
                    <div class="black_keys key_e" id="69"><p class="key_style">E</p></div>
                    <div class="white_keys" id="68"><p class="key_style">D</p></div>                    
                    <div class="white_keys" id="70"><p class="key_style">F</p></div>
                    <div class="black_keys key_t" id="84"><p class="key_style">T</p></div>
                    <div class="white_keys" id="71"><p class="key_style">G</p></div>
                    <div class="black_keys key_y" id="89"><p class="key_style">Y</p></div>
                    <div class="white_keys" id="72"><p class="key_style">H</p></div>
                    <div class="black_keys key_u" id="85"><p class="key_style">U</p></div>
                    <div class="white_keys" id="74"><p class="key_style">J</p></div>
                    <div class="white_keys" id="75"><p class="key_style">K</p></div>
                    <div class="black_keys key_o" id="79"><p class="key_style">O</p></div>
                    <div class="white_keys" id="76"><p class="key_style">L</p></div>
                    <div class="black_keys key_p" id="80"><p class="key_style">P</p></div>
                    <div class="white_keys" id="186"><p class="key_style">;</p></div>  
                    
                </div>

                <!-- Cthulhu image and string-->
                <div class="string_awoken">I have awoken</div>
                <img src="../static/piano/images/texture.jpeg" alt="Cthulhu"
                class="img_Cthulhu" loading = "lazy">

        </div>
    </main>
    <!--Footer-->
    <div class="footer_class">
        <footer>
            <p class="cpright">©2023 Fangjun Huang</p>
        </footer>
    </div>

</body>

</html>